*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
*::-webkit-scrollbar {
    display: none;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
    overflow: hidden;
    background-color: black;

}
#progress-bar{
    width:30%;
    margin-top: 0.5%;
    height: 2%;
    color: black;
}
label{
    color: darkgreen;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
}
progress {background-color: #3e653e;}

.progress-bar-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color:#cce1e1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.allProject{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
   pointer-events: none;
    height: 100%;
    width: 100%;



}
.project1{
    position: absolute;
   right: 5%;
    bottom: 7%;
    height: 20%;
    width: 20%;

    z-index: -500;
    opacity:0;


}
.project2{
    position: absolute;
    left:5%;
    bottom: 35%;
    height: 20%;
    width: 20%;
    border: #FFFFFF 100px;
    z-index: -500;
    opacity:0;

}
.videoholder{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.video-text{
    color: white;
    overflow-y: scroll;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
}
.video-text h1{
    color: darkgreen;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    padding-top: 10px;
    text-decoration: underline;
    text-decoration-color:darkgreen ;
    text-align: center;

}
.video-text h1:hover {
    color: blueviolet;

}
.video-text h3{
    color: #cce1e1;
    padding-left: 10px;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: center;
}
.video-text ul{
    padding-top: 20px;
    padding-left: 50px;
}
.video-text h2{
    color: #86c786;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.video-text ul li{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 20px;
}

.top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: saturate(0);
    border-radius: 30px;
    border: darkgrey 5px solid;
}
.top-image:hover{
    filter: saturate(1) blur(0px);
    transition: all 1s ease-in-out ;
}

.project3{
    position: absolute;
    left:5%;
    bottom: 7%;
    height: 20%;
    width: 20%;

    z-index: -500;
    opacity:0;


}
.project4{
    position: absolute;
    right: 5%;
    bottom: 35%;
    height: 20%;
    width: 20%;

    z-index: -500;
    opacity:0;


}

.project1, .project2, .project3, .project4 {
    border-radius: 16px;

}
.video-popup{
    z-index: 600;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,.8);
    height: 100%;
    width: 100%;
    display: none;




}
.video-popup video{
    position: absolute;
    top: 28%;
    left: 50%;
    height: 50%;
    transform: translate(-50%,-50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
    box-shadow: 0 8px 16px rgb(255, 255, 255);
}
.video-popup .descriptionProjet{
    position: absolute;
    top: 55%;
    left:16%;
    width: 70%;
    height: 40%;
    border-radius: 8px;
    border: 5px solid #000000;
    overflow-y: scroll;
    box-shadow: inset 2px 8px 16px rgb(255, 255, 255);
    backdrop-filter: blur(9px);

}

.video-popup span{
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 50px;
    z-index: inherit;
}





.wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    position: absolute;

    width: 100vw;

}

.main-nav ul {
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: black 3px solid;
    border-radius: 10px;

}


.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}


.main-nav ul li a i {
    margin-right: 8px;
}


.main-nav ul li a:hover {
    color: #007bff;
}


.nom{
    position: absolute;
    top: 5%;
    left: 45%;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.67vw;
    color: darkgreen;
}
.description{
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-size: 2.92vw;
    font-style: normal;
}
.startButton{
    position: absolute;
    font-size: 70px;
   bottom: 10%;
    right: 48%;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-style: normal;
    background: #cce1e1;
    border: none;
    z-index: -100;
}
.startButton:hover{
color: darkblue;
}
.startButton:active{
    color: #525fb3;
}
.about-1{
    position: absolute;
    bottom: 15%;
    left: 52%;
    opacity: 0;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
    z-index: -100;
}
.about-2{
    position: absolute;
    top: 15%;
    right: 49%;
    opacity: 0;
    font-weight: 400;
    font-size: 40px;
    font-family: "IM Fell English SC", serif;
    font-style: normal;
    z-index: -100;
}
.water{
    pointer-events: none;
    width: 100vw;
    height: 57vh;
    background-color: #92b0c7;
    opacity: 0.3;
    z-index: -500;
    position: absolute;
    bottom: 0;

}


.allCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    object-fit: contain;
}
.card{
    display: flex;
    flex: 0 1 calc(20% - 10px); /* 25% de largeur moins une petite marge */
    margin: 5px; /* marge entre les cartes */
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;

}
.logoProg{
    width: 70px;
    height: 70px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.cardText{
    padding-top: 10px;
    padding-bottom: 20px;
}
.logo{
    top: 13%;
    left: 10%;
    position: absolute;
    width: 70px;
    height:50px ;
    z-index: 600;
}
.iconPlay{
    position: absolute;
    bottom: 30%;
    right: 30%;
    width: 10.41vw;
    height: 7.41vh;

}
.tabs {
    overflow-y: scroll;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    backdrop-filter: blur(9px) brightness(0.7);
    color: black;
    padding: 50px;
    padding-bottom: 80px;
    opacity: 0;
    width: 70%;
    height: 60%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 20px;
    min-width: 240px;
    z-index: -400;
    top: 20%;
}
.tabs input[name="tab-control"] {
    display: none;
}
.coral{
    pointer-events: none;
}

.tabs .content section h2,
.tabs ul li label {
    display: flex;
    font-weight: 400;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    color: #ffffff;
}
.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}
.tabs ul li label {
    transition: all 0.3s ease-in-out;

    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
}
.tabs ul li label br {
    display: none;
}
.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;
}
.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
    outline: 0;
    color: #000000;
}
.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
    fill: #000000;
}
.tabs .slider {
    position: relative;
    width: 33%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #232220;
    border-radius: 1px;
}
.tabs .content {
    margin-top: 30px;
    color: #ffffff;
}
.tabs .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
}
.tabs .content section h2 {
    color: #ffffff;
    display: none;
}
.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #232220;
    margin-top: 5px;
    left: 1px;
}
.tabs
input[name="tab-control"]:nth-of-type(1):checked
~ ul
> li:nth-child(1)
> label {
    cursor: default;
    color: #000000;
}
.tabs
input[name="tab-control"]:nth-of-type(1):checked
~ ul
> li:nth-child(1)
> label
svg {
    fill: #232220;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked ~ .slider {
    transform: translateX(0%);
}
.tabs
input[name="tab-control"]:nth-of-type(1):checked
~ .content
> section:nth-child(1) {
    display: block;
}
.tabs
input[name="tab-control"]:nth-of-type(2):checked
~ ul
> li:nth-child(2)
> label {
    cursor: default;
    color: #000000;
}
.tabs
input[name="tab-control"]:nth-of-type(2):checked
~ ul
> li:nth-child(2)
> label
svg {
    fill: #82a682;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.tabs
input[name="tab-control"]:nth-of-type(2):checked
~ .content
> section:nth-child(2) {
    display: block;
}
.tabs
input[name="tab-control"]:nth-of-type(3):checked
~ ul
> li:nth-child(3)
> label {
    cursor: default;
    color: #000000;
}
.tabs
input[name="tab-control"]:nth-of-type(3):checked
~ ul
> li:nth-child(3)
> label
svg {
    fill: #428bff;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}
.tabs
input[name="tab-control"]:nth-of-type(3):checked
~ .content
> section:nth-child(3) {
    display: block;
}
.tabs
input[name="tab-control"]:nth-of-type(4):checked
~ ul
> li:nth-child(4)
> label {
    cursor: default;
    color: black;
}
.tabs
input[name="tab-control"]:nth-of-type(4):checked
~ ul
> li:nth-child(4)
> label
svg {
    fill: #428bff;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked ~ .slider {
    transform: translateX(300%);
}
.tabs
input[name="tab-control"]:nth-of-type(4):checked
~ .content
> section:nth-child(4) {
    display: block;
}
@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}


/* Default transition for non-hover */
.poisson {
    transition: top 4.5s ease-in-out, left 4.5s ease-in-out, bottom 4.5s ease-in-out, width 4.5s ease-in-out, height 4.5s ease-in-out;
}

/* On hover, apply specific transition properties */
.poisson:hover {
    transition: top 3s ease-in-out, left 3s ease-in-out, bottom 3s ease-in-out, width 3s ease-in-out, height 3s ease-in-out;
}

.poissonA:hover {
    top: 60%;
    bottom: 60%;
    left: 30%;
}

.poissonB:hover {
    top: 50%;
    left: 30%;
}

.poissonC {
    transition: width 4.5s ease-in-out, height 4.5s ease-in-out;
}

.poissonC:hover {
    height: 225px;
    width: 225px;
    transition: height 2.3s ease-out, width 2.3s ease-out;
}


.poissonA{
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 20%;
    width: 130px;
    height: 130px;
    z-index: -400;
    opacity: 0;
    animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.poissonB{
    position: absolute;
    bottom: 40%;
    left: 40%;
    width: 90px;
    height: 90px;
    z-index: -400;
    opacity: 0;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.coral{
    position: absolute;
    bottom: 0%;
    left: 0%;
    opacity: 0;
    width: 800px;
    height: 400px;
    z-index: -400;
}
.poissonC{
    position: absolute;
    bottom: 20%;
    right: 55%;
    width: 150px;
    height: 150px;
    z-index: -400;
    opacity: 0;
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.contactContainer{
    backdrop-filter: blur(6px) brightness(0.9);
    display: flex;
    justify-content: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 40%;
    z-index: -500;
    bottom:30%;
    right: 32%;
    opacity: 0;
    border-radius: 30px;

}
.contactContainer p{
    font-size: 2.04vw;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;

}
.contactText{
    ont-size: 30px;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
}
.contactContainer div{
    padding-bottom:20px ;
}
.iconContact{
    display: flex;
    justify-content: center;
}
.contactContainer p,h1{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.iconContact img {
    width: 30px;
    height: 30px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
}



/* ********  Every section and container and canvas *********  */

#container3d canvas{
    height: 100vh;
    width: 100vw;

}


/* ******* Media screen size condition******* */
@media only screen and (max-width: 700px) {
    .nom{
        font-size: 50px;
    }
    .description{
        top: 23%;
        font-size: 22px;

    }
    .contactContainer{
        width: 70%;
        right: 15%;
    }
    .contactContainer p{
        font-size: 2.74vw;


    }
}
@media only screen and (max-width: 800px) {
    .video-popup video{
        width: 95%;
    }


    .main-nav ul li a {
        font-size: 20px;  /* Adjust font size for smaller screens */
    }


    .about-1{
       font-size: 6.17vw;
        left: 5%;
    }
    .about-2{
        padding-top: 20px;
        font-size: 5.17vw;
    }
    .poisson{
        display: none;
    }
    .coral{
        display: none;
    }
    .water{
        display: none;
    }

}
@media only screen and (max-width: 400px) {

    .main-nav ul li a {
        font-size: 18px;  /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 1023px) {



}
@media screen and (max-width: 850px) {

.logo{

    left: 5%;
}
    .tabs{
        width: 95%;
        height: 60%;
    }
    .tabs ul li {

        width: 80%
    }
    .tabs .slider .indicator{
        display: none;
    }
    .video-popup .descriptionProjet{
        width: 90%;
        left: 5%;

    }

}
@media screen and (max-width: 600px) {

    .logo {

        top: 65px;
    }
    .video-popup video{
        height: 35%;
    }

    .main-nav ul{
        border-bottom: 0px;
    }


}
@media screen and (max-width: 800px) {

    .logo {

        top: 65px;
    }
    .video-popup span{
        position: absolute;
        top: 10px;
        right: 30px;
        color: white;
        cursor: pointer;
        font-weight: bolder;
        font-size: 50px;
        z-index: inherit;
    }

    .main-nav ul{
        border-bottom: 0px;
    }


}
@media screen and (max-width: 450px) {


}


