* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

*::-webkit-scrollbar {
    display: none;
}

html,
body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

}

#progress-bar {
    width: 30%;
    margin-top: 0.5%;
    height: 2%;
    color: black;
}

label {
    color: darkgreen;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
}

progress {
    background-color: #3e653e;
}

.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #cce1e1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.allProject {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;
    height: 100%;
    width: 100%;



}

.project1 {

    position: absolute;
    right: 5%;
    bottom: 17%;
    height: 7%;
    width: 6%;
    animation: floating 3s ease-in-out infinite;
    z-index: -500;
    opacity: 0;


}

.project2 {
    position: absolute;
    right: 25%;
    bottom: 17%;
    height: 7%;
    width: 6%;
    animation: floating2 3s ease-in-out infinite;
    border: #FFFFFF 100px;
    z-index: -500;
    opacity: 0;

}

.project3 {
    position: absolute;
    right: 45%;
    bottom: 17%;
    height: 7%;
    width: 6%;
    animation: floating3 3s ease-in-out infinite;
    z-index: -500;
    opacity: 0;


}

.project4 {
    position: absolute;
    right: 65%;
    bottom: 15%;
    height: 7%;
    width: 6%;

    z-index: -500;
    opacity: 0;


}

.project1,
.project2,
.project3,
.project4 {
    border-radius: 16px;
}

.videoholder {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video-text {
    color: white;
    overflow-y: scroll;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
}

.video-text h1 {
    color: darkgreen;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    padding-top: 10px;
    text-decoration: underline;
    text-decoration-color: darkgreen;
    text-align: center;

}

.video-text h1:hover {
    color: blueviolet;

}

.video-text h3 {
    color: #cce1e1;
    padding-left: 10px;
    letter-spacing: 1.5px;
    line-height: 2;
    text-align: center;
}

.video-text ul {
    padding-top: 20px;
    padding-left: 50px;
}

.video-text h2 {
    color: #86c786;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.video-text ul li {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 20px;
}

.top-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    filter: saturate(0);
    border-radius: 100%;
    border: darkgrey 5px solid;
    background-color: white;
}

.top-image:hover {
    filter: saturate(1) blur(0px);
    transition: all 1s ease-in-out;
    scale: 1.2;
}



.video-popup {
    z-index: 600;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    display: none;




}

.video-popup video {
    position: absolute;
    top: 28%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    border-radius: 5px;
    border: 3px solid white;
    object-fit: cover;
    box-shadow: 0 8px 16px rgb(255, 255, 255);
}

.video-popup .descriptionProjet {
    position: absolute;
    top: 55%;
    left: 16%;
    width: 70%;
    height: 40%;
    border-radius: 170px;
    padding: 90px;
    border: 5px solid #000000;
    overflow-y: scroll;
    box-shadow: 2px 8px 16px rgb(255, 255, 255);
    backdrop-filter: blur(9px);

}

.video-popup span {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    font-size: 50px;
    z-index: inherit;
}





.wrapper {
    display: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 10px;
    position: absolute;

    width: 100vw;

}

.main-nav ul {
    display: flex;
    list-style: none;
    padding-bottom: 10px;
    margin: 0;
    border-bottom: black 3px solid;
    border-radius: 10px;

}


.main-nav ul li {
    margin: 0 10px;
}

.main-nav ul li a {
    text-decoration: none;
    font-size: 30px;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}


.main-nav ul li a i {
    margin-right: 8px;
}


.main-nav ul li a:hover {
    color: #007bff;
}


.nom {
    position: absolute;
    top: 5%;
    left: 45%;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4.67vw;
    color: darkgreen;
}

.description {
    position: absolute;
    top: 15%;
    left: 50%;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;
    font-size: 2.92vw;
    font-style: normal;
}

.startButton {
    position: absolute;
    font-size: 70px;
    bottom: 10%;
    right: 48%;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-style: normal;
    background: #cce1e1;
    border: none;
    z-index: -100;
}

.startButton:hover {
    color: darkblue;
}

.startButton:active {
    color: #525fb3;
}

.about-1 {
    position: absolute;
    bottom: 15%;
    left: 52%;
    opacity: 0;
    font-family: "IM Fell English SC", serif;
    font-weight: 500;
    font-size: 50px;
    font-style: normal;
    z-index: -100;
}

.about-2 {
    position: absolute;
    top: 15%;
    right: 49%;
    opacity: 0;
    font-weight: 400;
    font-size: 40px;
    font-family: "IM Fell English SC", serif;
    font-style: normal;
    z-index: -100;
}

.poster {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100v;
    z-index: 500;

 background-color: #303885;
}

.slider {
    margin-bottom: 10px;
   
}

/* Slider animation*/
.slider.deux {
    --width: 200px;
    --height: 250px;
    --number-item: 7;
    width: 100%;
    height: var(--height);
    overflow: hidden;

}

.slider.trois {
    --width: 200px;
    --height: 150px;
    --number-item: 8;
    width: 100%;
    height: var(--height);
    overflow: hidden;
}

.slider.quatre {
    --width: 200px;
    --height: 250px;
    --number-item: 8;
    width: 100%;
    height: var(--height);
    overflow: hidden;
}
.slider.cinq {
    --width: 200px;
    --height: 250px;
    --number-item: 8;
    width: 100%;
    height: var(--height);
    overflow: hidden;
}


.slider .list {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    width: 100%;
    min-width: calc(var(--width)* var(--number-item));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    transition: .5s;
    filter: brightness(1);
    left: 100%;
    animation: autoRun 15s linear infinite;
    animation-delay: calc((15s / var(--number-item))* (var(--position) - 1));
}

.slider.trois .list .item {
    animation: autoRun2 15s linear infinite;
    animation-delay: calc((15s / var(--number-item))* (var(--position) - 1));
}
.slider.cinq .list .item {
    animation: autoRun2 15s linear infinite;
    animation-delay: calc((15s / var(--number-item))* (var(--position) - 1));
}



.slider .list .item img {
    width: 100%;
    height: 100%;
    border: solid 0px black;
}


.logo {
    top: 13%;
    left: 10%;
    position: absolute;
    width: 70px;
    height: 50px;
    z-index: 600;
}

.iconPlay {
    position: absolute;
    bottom: 30%;
    right: 30%;
    width: 10.41vw;
    height: 7.41vh;

}

.contactContainer {
    display: flex;
    justify-content: center;
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 10%;
    z-index: -500;
    bottom: 10%;
    opacity: 0;


}

.contactContainer p {
    font-size: 2.04vw;
    font-family: "IM Fell English SC", serif;
    font-weight: 400;

}

.contactContainer div {
    padding-bottom: 20px;
    color: darkgreen;

}

.iconContact {
    display: flex;
    justify-content: center;
}

.contactContainer p,
h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;

}

.iconContact img {
    width: 60px;
    height: 60px;
}

@keyframes autoRun {
    from {
        left: calc(var(--width) * -1);
    }

    to {
        right: 100%;
    }

}

@keyframes autoRun2 {
    from {
        right: 100%;
    }

    to {
        left: calc(var(--width) * -1);
    }

}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 40px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes floating2 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 20px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

@keyframes floating3 {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, -30px);
    }

    100% {
        transform: translate(0, -0px);
    }
}



/* ********  Every section and container and canvas *********  */

#container3d canvas {
    height: 100vh;
    width: 100vw;

}


/* ******* Media screen size condition******* */
@media only screen and (max-width: 700px) {
    .nom {
        font-size: 50px;
    }

    .description {
        top: 23%;
        font-size: 22px;

    }

    .contactContainer {
        width: 70%;
        right: 15%;
    }

    .contactContainer p {
        font-size: 2.74vw;


    }
}

@media only screen and (max-width: 800px) {
    .video-popup video {
        width: 95%;
    }


    .main-nav ul li a {
        font-size: 20px;
        /* Adjust font size for smaller screens */
    }


    .about-1 {
        font-size: 6.17vw;
        left: 5%;
    }

    .about-2 {
        padding-top: 20px;
        font-size: 5.17vw;
    }

}

@media only screen and (max-width: 400px) {

    .main-nav ul li a {
        font-size: 18px;
        /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 1300px) {
    .project1 {
        width: 24%;
    }

    .project2 {
        width: 24%;
    }

    .project3 {
        width: 24%;
    }

    .project4 {
        width: 24%;
    }


}

@media screen and (max-width: 850px) {
    .video-popup .descriptionProjet {
        padding: 10px;
    }

    .logo {

        left: 5%;
    }

    .tabs {
        width: 95%;
        height: 60%;
    }

    .tabs ul li {

        width: 80%
    }

    .tabs .slider .indicator {
        display: none;
    }

    .video-popup .descriptionProjet {
        width: 90%;
        left: 5%;

    }

}

@media screen and (max-width: 600px) {

    .logo {

        top: 65px;
    }

    .video-popup video {
        height: 35%;
    }

    .main-nav ul {
        border-bottom: 0px;
    }


}

@media screen and (max-width: 800px) {

    .logo {

        top: 65px;
    }

    .video-popup span {
        position: absolute;
        top: 10px;
        right: 30px;
        color: white;
        cursor: pointer;
        font-weight: bolder;
        font-size: 50px;
        z-index: inherit;
    }

    .main-nav ul {
        border-bottom: 0px;
    }


}

@media screen and (max-width: 450px) {}